Source: lxqt-grub-theme
Section: graphics
Priority: extra
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 10),
               inkscape,
               grub-common
Standards-Version: 3.9.8
Vcs-Git: https://github.com/lxlive/lxqt-grub-theme
Vcs-Browser: https://github.com/lxlive/lxqt-grub-theme


Package: lxqt-grub-theme
Architecture: all
Provides: grub-theme
Depends:
 ${misc:Depends},
Description: grub-theme for LXQt Live
 mostly copied from grub-sources

Package: lxqt-live-grub-theme
Architecture: all
Provides: grub-theme
Depends:
 ${misc:Depends},
 lxqt-grub-theme
Description: live grub-theme for LXQt Live
 mostly copied from grub-sources
